@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

.Section1 {
    position: relative;
    z-index: 1;
}

.img {
    width: 100vw;
}

.img1 {
    overflow: hidden;
    height: 40vh;
}

.img2 {
    position: absolute;
    top: -250px;
    z-index: 2;
}

.item3 {
    position: relative;
    width: 100vw;
    height: 100vh;
    /* background: #74bdb9; */
}

.img3 {
    position: absolute;
    top: -150px;
    left: 0;
    z-index: 3;
}

.img4 {
    position: absolute;
    top: -50px;
    left: -100px;
    z-index: 3;
}

.img5 {
    position: absolute;
    top: -110px;
    left: -150px;
}

.img6 {
    position: absolute;
    top: -100px;
    right: -90px;
}

.item3-content {
    position: absolute;
    top: -100px;
    left: 15vw;
    width: 70vw;
    color: white;
    /* background-color: #fcc79d; */
    border-radius: 150px;
    background: rgb(54, 101, 115);
    background: linear-gradient(0deg, rgba(54, 101, 115, 1) 4%, rgba(116, 189, 185, 1) 100%);
    opacity: 0.95;
    padding: 20px;
    z-index: 4;
}


.item3-content .top {
    text-align: center;
    margin-top: 20px;
    font-family: "Dancing Script", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

.item3-content .name {
    text-align: center;
    margin-top: 20px;
    font-family: "Lobster", serif;
    font-weight: 300;
    font-style: normal;
}

.item3-content .invite {
    text-align: center;
    margin-top: 10px;
    font-family: "Dancing Script", serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
}

.item3-content .bottom {
    display: flex;
    justify-content: center;
}

.item3-content .bottom .item {
    font-size: 24px;
    margin: 10px 5px;
    font-family: "Lobster", serif;
    font-weight: 300;
    font-style: normal;
}

.nam {
    font-family: "Lobster", serif;
    font-weight: 300;
    font-style: normal;
}