@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

.Section1 {
    position: relative;
    z-index: 1;
}

.img {
    width: 100vw;

}

.img1 {
    overflow: hidden;
    height: 35vh;
}

.img1-1 {
    border: 5px solid #efe4ea;
}

.imgflower {
    position: absolute;
    top: -15vh;
}

.imgflower1 {
    position: absolute;
    top: 10vh;
}

.imgmeo {
    position: absolute;
    z-index: 5;
    bottom: 0;
    left: -2vw;
    width: 20vw;

}

.imgmeo2 {
    position: absolute;
    z-index: 5;
    bottom: 0;
    right: 0;
    width: 15vw;

}

.imgtulip1 {
    position: absolute;
    z-index: 5;
    bottom: 0;
    left: -15vw;
    width: 20vw;

}

.imgtulip2 {
    position: absolute;
    z-index: 5;
    top: -2vh;
    right: 0;
    width: 10vw;

}

.item3 {
    background: #efe4ea;
    position: relative;
    height: 100vh;
}

.item3-content {
    position: absolute;
    bottom: 50vh;
    width: 60vw;
    left: 36vw;
    color: #8e603c;
    /* background-color: #c4976d; */
    background: #efe4ea;
    border-top-right-radius: 100%;
    border-top: 5px solid #8e603c;
    border-right: 5px solid #8e603c;
    padding: 20px 50px 20px 20px;
    z-index: 4;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.item3-content1 {
    position: absolute;
    width: 60vw;
    height: 60vh;
    bottom: 50vh;
    right: 36vw;
    color: #8e603c;
    /* background-color: #c4976d; */
    background: #efe4ea;
    border-top-left-radius: 100%;
    border-top: 5px solid #8e603c;
    border-left: 5px solid #8e603c;
    padding: 50px 50px 20px 20px;
    z-index: 4;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}


.item3-content .top {
    margin-left: 10vw;
    margin-top: 20px;
    font-family: "Dancing Script", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

.item3-content .name {
    text-align: center;
    margin-top: 20px;
    font-family: "Lobster", serif;
    font-weight: 300;
    font-style: normal;
}

.item3-content .invite {
    text-align: center;
    margin-top: 10px;
    font-family: "Dancing Script", serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
}

.item3-content .bottom {
    display: flex;
    justify-content: center;
}

.item3-content .bottom .item {
    font-size: 16px;
    margin: 10px 5px;
    font-family: "Lobster", serif;
    font-weight: 300;
    font-style: normal;
}

.nam {
    font-family: "Lobster", serif;
    font-weight: 300;
    font-style: normal;
}